<!--%= javascript_pack_tag 'app.js', 'data-turbolinks-track': 'reload' %>-->
<!--%= javascript_pack_tag 'if.js', 'data-turbolinks-track': 'reload' %>-->
<!--%= javascript_pack_tag 'while.js', 'data-turbolinks-track': 'reload' %>-->
<!--%= javascript_pack_tag 'for.js', 'data-turbolinks-track': 'reload' %>-->

<header>
  <nav>
    <ul class="nav-list">
      <h1 class="logo">JS-practice</h1>
      <li class="nav-list-item"><%= link_to "rootpath", root_path, data: {"turbolinks" => false} %></li>
      <li class="nav-list-item"><%= link_to "rootpath", root_path, data: {"turbolinks" => false} %></li>
      <li class="nav-list-item"><%= link_to "rootpath", root_path, data: {"turbolinks" => false} %></li>
      <li class="nav-list-item"><%= link_to "rootpath", root_path, data: {"turbolinks" => false} %></li>
      <li class="nav-list-item"><%= link_to "rootpath", root_path, data: {"turbolinks" => false} %></li>
    </ul>
  </nav>
</header>
