<header>
  <nav>
    <ul  class="nav-list">
      <h1  class="logo"><%= link_to "JS-practice", root_path, data: {"turbolinks" => false} %></h1>
      <li  class="nav-list-item"><%= link_to "じゃんけんしよう", rock_paper_scissors_path, data: {"turbolinks" => false} %></li>
      <li  class="nav-list-item"><%= link_to "this", this_path, data: {"turbolinks" => false} %></li>
      <li  class="nav-list-item"><%= link_to "children", children_path, data: {"turbolinks" => false} %></li>
      <li  class="nav-list-item"><%= link_to "swiper", swiper_path %></li>
      <li  class="nav-list-item"><%= link_to "back_to_top", back_to_top_path %></li>
    </ul>
  </nav>
</header>
